n8n/hardware_scraper_workflow.json
{
  "name": "Hardware Price Scraper to Quaso",
  "nodes": [
    {
      "parameters": {
        "rule": "interval",
        "interval": 24,
        "unit": "hours"
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.example.com/hardware-prices",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/webhook/ingest",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "component_name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "price",
              "value": "={{ $json.price }}"
            },
            {
              "name": "category",
              "value": "GPU"
            },
            {
              "name": "store",
              "value": "Example Store"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Send to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        550,
        300
      ]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
